<div class="wrapper">
  <!-- Sidebar - Modern dark with accent color -->
   <div class="bg">
    <app-layout></app-layout>
   </div>
  

  <!-- Page Content -->
  <div id="content" class="bg-light">
    <app-header></app-header>
    <div class="container-fluid p-4 bg-light">
      <h2 class="mb-4 text-dark">Dashboard Overview</h2>
      <div class="row mb-4">
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow-sm h-100 py-2 bg-white border-0">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Revenue</div>
                  <div class="h5 mb-0 font-weight-bold text-dark">{{ dashboardData.totalRevenue | currency }}</div>
                </div>
                <div class="col-auto">
                  <i class="bi bi-currency-dollar fs-2 text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow-sm h-100 py-2 bg-white border-0">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Orders</div>
                  <div class="h5 mb-0 font-weight-bold text-dark">{{ dashboardData.totalOrders }}</div>
                </div>
                <div class="col-auto">
                  <i class="bi bi-cart fs-2 text-success"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow-sm h-100 py-2 bg-white border-0">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Active Users</div>
                  <div class="h5 mb-0 font-weight-bold text-dark">{{ dashboardData.activeUsers }}</div>
                </div>
                <div class="col-auto">
                  <i class="bi bi-people fs-2 text-info"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow-sm h-100 py-2 bg-white border-0">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">New Sellers</div>
                  <div class="h5 mb-0 font-weight-bold text-dark">{{ dashboardData.newSellers }}</div>
                </div>
                <div class="col-auto">
                  <i class="bi bi-shop fs-2 text-warning"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">
        <!-- Recent Orders -->
        <div class="col-xl-8 mb-4">
          <div class="card shadow-sm mb-4 border-0 bg-white">
            <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-white border-bottom border-accent">
              <h6 class="m-0 font-weight-bold text-dark">Recent Orders</h6>
              <a [routerLink]="['/users']" routerLinkActive="router-link-active"  class="btn btn-sm btn-accent">View All</a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="bg-accent text-white">
                    <tr>
                      <th>Order ID</th>
                      <th>Customer</th>
                      <th>Date</th>
                      <th>Amount</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of dashboardData?.recentOrders">
                      <td class="text-dark">#ORD-{{ order.id }}</td>
                      <td>{{ order.customer }}</td>
                      <td>{{ order.date }}</td>
                      <td class="font-weight-bold">{{ order.amount | currency }}</td>
                      <td>
                                                <span class="badge rounded-pill" [ngClass]="{
                          'bg-primary': order.status === 'Placed' || order.status === 'Confirmed',
                          'bg-info text-dark': order.status === 'OutForDelivery',
                          'bg-success': order.status === 'Delivered',
                          'bg-danger': order.status === 'Cancelled' || order.status === 'Failed',
                          'bg-warning text-dark': order.status === 'Processing',
                          'bg-secondary': order.status === 'Returned',
                          'bg-info': order.status === 'Shipped'
                        }">
                                                  {{ order.status }}
                                                </span>

                      </td>
                      <td><i class="bi bi-three-dots-vertical text-dark"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Recent Sellers -->
        <div class="col-xl-4 mb-4">
          <div class="card shadow-sm mb-4 border-0 bg-white">
            <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-white border-bottom border-accent">
              <h6 class="m-0 font-weight-bold text-dark">Recent Sellers</h6>
              <a [routerLink]="['/seller']" routerLinkActive="router-link-active"  class="btn btn-sm btn-accent">View All</a>
            </div>
            <div class="card-body">
              <div class="list-group list-group-flush">
                <div *ngFor="let seller of dashboardData?.recentSellers"
                  class="list-group-item d-flex align-items-center bg-transparent border-bottom border-light">
                  <div class="me-3">
                    <div
                      class="avatar bg-accent text-white rounded-circle d-flex align-items-center justify-content-center"
                      style="width: 40px; height: 40px;">
                      {{ seller.name[0] }}
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1 text-dark">{{ seller.name }}</h6>
                    <small class="text-muted">{{ seller.storeName }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Charts Section -->

    </div>
  </div>
</div>