/* Navbar */
.navbar {
  padding: 0.75rem 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #4361ee, #4cc9f0);
  color: white;
}
.input-group {
  border-radius: 20px;
  overflow: hidden;
}
.input-group input {
  border: 2px solid #4cc9f0;
  transition: box-shadow 0.2s ease-in-out;
}
.input-group input:focus {
  box-shadow: 0 0 5px #4cc9f0;
}
.dropdown-menu {
  border: 1px solid #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
.button{
  background-color: transparent;
  border: none;
}

.min-height{
  min-height: 74px;
}